<% include partials/header %>

<div class='ui container'>

   <h1>You are on the Landing Page</h1>

   <h2>What would you like to do?</h2>

   <!-- SUBJECTS FORM / BUTTON -->
   <form action="/blogs/subjects" method="GET">
      <div class="ui labeled button" tabindex="0">
         <div class="ui button">
            <i class="sitemap icon"></i><button>View Subjects</button> 
         </div>
         <a class="ui basic label">

            <!-- FIX ME FIX ME -->
            <!-- FIX ME FIX ME -->
            <!-- FIX ME FIX ME -->
            <!-- FIX ME FIX ME -->
            2,048
         </a>
      </div>
   </form>

   <!-- ADD A BLOG ENTRY FORM / BUTTON -->
   <form id="newBlogButton" action="/blogs/new" method="GET">
      <div class="ui labeled button" tabindex="0">
         <div class="ui button">
            <i class="keyboard icon"></i><button>Add a Blog Entry</button>
         </div>
   </form>
   <!-- <a class="ui basic label">

         // FIX ME FIX ME
         2,048
      </a> -->
</div>
<!-- <div class="ui left labeled button" tabindex="0">
      <a class="ui basic right pointing label">
         2,048
      </a>
      <div class="ui button">
         <i class="heart icon"></i> Like
      </div>
   </div>
   <div class="ui left labeled button" tabindex="0">
      <a class="ui basic label">
         1,048
      </a>
      <div class="ui icon button">
         <i class="fork icon"></i>
      </div>
   </div> -->

</div>

<% include partials/footer %>