<% include partials/header %>

<body class='new'></body>

<div class="container">

   <div class="jumbotron mt-3">
      <h1 class="display-4">NEW BLOG</h1>
   </div>

   <form id="displayBlock" action="/blogs" method="POST">
      <div class='row my-3 justify-content-around'>
         <input class="col-md-3" type="text" placeholder="Title" name="blog[title]">
         <input class="col-md-3" type="text" placeholder="Subject" name="blog[subject]">
         <input class="col-md-3" type="text" placeholder="Image URL" name="blog[image]">
      </div>
      <div class="row">
         <textarea type="text" rows="15" cols="100" placeholder="Blog Entry" name="blog[text]">
         </textarea>
      </div>
      <div class="row">
         <button class="btn btn-outline-light mt-3">Submit Blog Entry</button>
      </div>
   </form>

</div>

<% include partials/footer %>