<% include partials/header %>

<div class="container">

  <h1>You are on the Subjects Show Page</h1>

  <p>
    <% blog.forEach((e) => { %>
    <p> <%= e %> </p>
    <% }) %>
  </p>

</div>

<% include partials/footer %>